[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20"

[functions]
  node_bundler = "nft"
  included_files = ["node_modules/better-sqlite3/**"]

[[plugins]]
  package = "@netlify/plugin-nextjs"
